<navbar></navbar>

<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="page-header">Jobs</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          The Information of Your Jobs
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Job ID</th>
                  <th>Start Time</th>
                  <th>Framework</th>
                  <th>Filter</th>
                  <th>Process</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeU" ng-repeat="job in jobs" ng-click="selectJob(job)" ng-switch on="isSelected(job)">
                  <td>{{job.JobId}}</td>
                  <td>{{job.StartTime}}</td>
                  <td>{{job.FrameKind}}</td>
                  <td>{{job.FilterKind}}</td>
                  <td>{{job.Status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>
